




.navigazione-header ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.elemento-navigazione {
  display: inline-block;
  padding: 5px;
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  font-weight: bold;
}

.contenitore-avatar {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid rgb(255, 255, 255);
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.header-overlay {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.2);
}



.elemento-navigazione a {
  color: white;
  text-decoration: none;
}






.main {
  overflow: hidden;
}





.header {
  background-color: rgb(255, 205, 172);
  color: rgb(255, 255, 255);
  background-image: url(./Torii.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 160px;
  position: relative;
}


.sottotitolo{
  font-size: 22px;
  line-height: 40px;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  text-align: center;
}



.titolo {
text-align: center;

}





.navigazione-header {
  position: absolute;
  top: 20px;
  right: 20px;
}

.navigazione-header ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}










